<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>
  </system.webServer>


  <appSettings>
    <add key="forgottenPasswordUrl" value="http://localhost:59812/resetpassword?email="/>
    <add key="viewVideoUrl" value="http://localhost:59812/videopreview.aspx?user="/>
    <add key="savePath" value="C:\\Users\\musa.mhlengi\\Documents\GitHub\\VideoUploadLatestSightings\\LatestSightingsContributorApp\\Videos\\"/>
    <add key="filenameForTermsAndConditions" value="LatestSightings_TermsAndCondition.pdf"/>
    <add key="termsAndConditionsFilePath" value="C:\\Users\\musa.mhlengi\\Documents\\Visual Studio 2012\\Projects\\LatestSightingsContributorApp\\LatestSightingsContributorApp\\TermsAndConditions\\"/>
    <add key="videoAdministratorEmailAddress" value="testingerror@mailinator.com"/>
    <!--<add key="savePath" value="C:\\Users\\musa.mhlengi\\Documents\\vids\\"/>-->

  </appSettings>
  
  <connectionStrings>
    <add name="connString" providerName="System.Data.SqlClient" connectionString="SERVER=03RNBL-55H8NX1\SQLEXPRESS;UID=sa;PWD=Change_Me?;DATABASE=latestsightings;Pooling=False;"/>
  </connectionStrings>

</configuration>
