<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState timeout="60"></sessionState>
    </system.web>

  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
    </modules>
  </system.webServer>


  <appSettings>
    <add key="forgottenPasswordUrl" value="http://localhost:61844/resetpassword?email="/>
    <add key="viewVideoUrl" value="http://localhost:61844/videopreview.aspx?user="/>
    <add key="savePath" value="C:\\Users\musa.mhlengi\\Documents\\GitHub\Revamp_LatestSightings\\Revamp_LatestSightings\\Videos\\"/>
    <add key="filenameForTermsAndConditions" value="LatestSightings_TermsAndCondition.pdf"/>
    <add key="termsAndConditionsFilePath" value="C:\\Users\\musa.mhlengi\\Documents\\Visual Studio 2012\\Projects\\LatestSightingsContributorApp\\LatestSightingsContributorApp\\TermsAndConditions\\"/>
    <add key="videoAdministratorEmailAddress" value="testingerror@mailinator.com"/>
    <add key="650by650" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\650x650\\" />
    <add key="80by80" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\80x80\\" />
    <add key="originalImage" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\original\\" />
    <add key="articleImagePath" value="http://cdn.socialengine.co.za/latestsightings/article/" />
    <add key="contenCategoryId" value="6"/>
    <add key="siteUrl" value="http://latestsightings.socialengine.co.za/"/>
    <add key="contactUsEmailAddress" value="testingerror@mailinator.com"/>

  </appSettings>
  
  <connectionStrings>
    <add name="ConnString" providerName="System.Data.SqlClient" connectionString="SERVER=03RNBL-55H8NX1\SQLEXPRESS;UID=sa;PWD=Change_Me?;DATABASE=latestsightings;Pooling=False;"/>
  </connectionStrings>

</configuration>
